<div class="sign-up-page">
    <img class="icon" src="../../../assets/icons/bitcoin.png" />
    <form >
        <p>{{msg}}</p>
        <label for="">Please Enter Your Name</label>
        <input type="text" [(ngModel)]="user.userName" [ngModelOptions]="{standalone: true}" />
        <label for="">Please Enter Your password</label>
        <input type="password" [(ngModel)]="user.pass" [ngModelOptions]="{standalone: true}" />
        <button class="cta-btn " (click)="onAddUser()">Sign Up</button>
        <button (click)="onSignIn()">Sign In</button>
    </form>
</div>