.sign-up-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 35em;
    padding: 1em;
    top: 20vh;
    left: calc(50vw - 35em / 2);
    color: #fff;
    // box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    img {
        width: 200px;
        margin: auto;
    }
    form {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: space-between;
        text-align: center;
        button {
            width: 50%;
            margin: auto;
        }
        > * {
            margin-bottom: 10px;
        }
    }
    p {
        color: red;
    }
    buttun {
        pointer-events: none;
        cursor: no-drop;
    }
    .cta-btn{
        margin-bottom: 15px;
    }
}
