.transfer-fund{
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #8BB7F0;
    border-radius: 12px;
    input{
        width: 60px;
        margin-right: 5px;
    }
    p{
        display: inline-block;
        margin-right: 5px;
        color: gray;
    }
    h3{
    color: gray;

    }
    span{
        color: green;
    }
}