.contact-edit{
  display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    margin: auto;
    border-radius: 20%;
    border: 1px solid #ccc;
    padding: 12px;
    box-shadow: 1px 5px 0 #989ea6, inset 0 5px 0 #d8d3d3;
    border-radius: 30px;
    text-align: center;
    font-family: sans-serif;
    background-color: #1E1E20;
    margin-top: 20px;
     label{
        margin-right: 10px;
     }
     .imgContact {
        border-radius: 50%;
        width: 250px;
        margin: 0 auto 30px;
    }
    div{
        margin-bottom: 15px;
    }
    .icon{
        width: 43px;
        position: relative;
        top: -3px;
        left: 90%;
    }
    .icon-back {
        position: absolute;
    }
}