.contact-details {
    display: flex;
    flex-direction: column;
    background-color: #f0f5f9;
    width: 50%;
    // height: 80vh;
    margin: auto;
    // margin-top: 1em;
    border-radius: 20%;
    // border: 2px solid;
    border: 1px solid #ccc;
    padding: 12px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    span {
        color: #444242;
    }
    .imgContact {
        border-radius: 50%;
        width: 150px;
        margin: 0 auto 30px;
    }
    .icon-back {
        position: absolute;
    }
    .icon {
        width: 43px;
        position: relative;
        top: -3px;
        left: 90%;
    }
}
